<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Main" />
<f:section name="Template">about</f:section>

<f:section name="Main">

  <f:render partial="Content" arguments="{name: 'top'}" contentAs="content">
    <div class="flex-layout--col-3">
      {contentTop -> f:format.raw()}
    </div>
  </f:render>

  <div class="container">
    <f:format.raw>{contentFirst -> f:format.raw()}</f:format.raw>

    <f:comment>
      <header>
        <h2>Kenntnisse</h2>
      </header>

      <h3>Sprachen</h3>
      <div class="grid skills">
        <div class="grid-item grid-item--javascript grid-item--big"><span class="icon-javascript"></span>JavaScript (ES 6)</div>
        <div class="grid-item grid-item--typo3 grid-item--big"><f:image src="EXT:jgrp_site/Resources/Public/Images/pages/typo3.png" height="60" />Typo3</div>

        <div class="grid-item grid-item--angular grid-item--medium"><span class="icon-angular"></span><f:image src="EXT:jgrp_site/Resources/Public/Icons/angular.svg" height="34" />Angular</div>
        <div class="grid-item grid-item--vuejs grid-item--medium"><f:image src="EXT:jgrp_site/Resources/Public/Icons/vue-dot-js.svg" height="34" />Vue.js</div>
        <div class="grid-item grid-item--less grid-item--medium"><f:image src="EXT:jgrp_site/Resources/Public/Images/pages/less.png" height="34" />Less</div>
        <div class="grid-item grid-item--sass grid-item--medium"><span class="icon-sass"></span>Sass</div>

        <div class="grid-item grid-item--php grid-item--small">PHP</div>
        <div class="grid-item grid-item--typoscript grid-item--small">TypoScript</div>
        <div class="grid-item grid-item--sql grid-item--small">SQL</div>
      </div>
    </f:comment>


    <f:format.raw>{content}</f:format.raw>
  </div>

</f:section>




</html>
