<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
  data-namespace-typo3-fluid="true">


<f:layout name="Main" />
<f:section name="Template">film</f:section>

<f:section name="Main">

    <f:comment><!--
  <div class="sec
  <div class="hero-content">
    <div class="container">
      <v:page.info as="page" pageUid="{data.uid}">

        <h1 clas="page-title">{page.title -> f:format.raw()}</h1>
        <div class="page-description subhead">
          {page.description -> f:format.raw()}
        </div>

      </v:page.info>
    </div>
  </div>
 --></f:comment>



    <f:format.raw>{content}</f:format.raw>
</f:section>



</html>
