<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
  data-namespace-typo3-fluid="true">

<f:section name="Template">start</f:section>

<f:section name="HeaderAssets">
  <f:render partial="Assets/TitleTag" arguments="{title: data.title}"/>
  <f:render partial="Assets/CanonicalReference"/>
</f:section>

<header>
  <h1 class="start-pagetitle"><f:format.raw>{v:site.name()}</f:format.raw></h1>
  <ul class="start-navigation">
    <v:menu pageUid="{mainnavigation_rootPage}" useShortcutData="true" classHasSubpages="has-sub" classCurrent="current">
      <f:render section="menu-list" arguments="{menu: menu}" />
    </v:menu>
    <v:menu pageUid="{footernavigation_rootPage}" useShortcutData="true" classHasSubpages="has-sub" classCurrent="current">
      <f:render section="menu-list" arguments="{menu: menu}" />
    </v:menu>
  </ul>
</header>


<f:section name="menu-list">
  <f:for each="{menu}" as="item">
    <li>
      <a href="{item.link}" title="{item.title}">{item.linktext}</a>
    </li>
  </f:for>
</f:section>

</html>
