figure.image a.lightbox img {

  @include material-animation-fast-out-slow-in(0.3s);
  transition-property: transform, -webkit-transform, box-shadow, -webkit-box-shadow;

  @media (hover: hover) {
    &:hover {
      @include shadow-6dp();
      -webkit-transform: translate3d(0, -2px, 0);
      transform: translate3d(0, -2px, 0);
    }
  }
}


.frame-type-menu_subpages {

  @media (max-width: $grid-tablet-breakpoint - 1) {
    margin-right: -$grid-phone-margin;
    margin-left: -$grid-phone-margin;
  }


  .menu-subpages-item--link-wrap {
    background: white;
    border-radius: 2px;

    .menu-subpages-item-content {
      padding-left: $grid-phone-gutter;
      padding-right: $grid-phone-gutter;
      padding-bottom: $grid-phone-gutter;

      h3 {
        margin-top: $grid-phone-gutter*2;
        margin-bottom: $grid-phone-gutter;
        font-size: 26px;
      }

      .subhead {
        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom: $grid-phone-gutter;
        }
      }
    }
    color: $text-color-primary;

    @include material-animation-fast-out-slow-in(0.3s);
    transition-property: transform, -webkit-transform, box-shadow, -webkit-box-shadow;
    text-decoration: none;

    @include shadow-6dp();
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);

    @media (hover: hover) {
      box-shadow: none;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);

      &:hover {
        @include shadow-6dp();
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
      }
    }

    @media (max-width: $grid-desktop-breakpoint - 1) {
      @include shadow-6dp();
    }

  }
/*
 * rows
 */
  .menu-subpages-item--row {
    margin-bottom: $grid-phone-gutter*2;

    img {
      height: fit-content;
    };

    .menu-subpages-item--link-wrap {
      display: block;

      @media (min-width: $grid-desktop-breakpoint - 1) {
        display: flex;
        flex-direction: row;
        .menu-subpages-item-content {
          padding-left: $grid-phone-gutter*2;
        }
      }

      h3 {
        margin-top: $grid-phone-gutter;
      }
    }
  }


/*
 * cols
 */
  .flex-layout--col-3 {

    > * {
      padding: 0;
      margin-bottom: $grid-phone-gutter;

      @media (max-width: $grid-desktop-breakpoint - 1) {
        max-width: 100%;
      }

      @media (min-width: $grid-tablet-breakpoint) and (max-width: $layout-screen-size-threshold) {
        max-width: 50%;
      }
        //@media (min-width: $grid-desktop-breakpoint) {}

      > * {
        padding: 0;
        @media (min-width: $grid-tablet-breakpoint) {
          margin-right: $grid-phone-gutter*2;
        }
      }
    }

    > *:nth-child(3n) > * {
      @media (min-width: $layout-screen-size-threshold + 1px) {
        margin-right: 0;
      }
    }

   .menu-subpages-item--link-wrap {
     display: block;
     height: 100%;
     position: relative;

     img {
       width: 100%;
       height: auto;
     }

     .menu-subpages-item-content {
       padding-bottom: 36 + $grid-phone-gutter*2;
     }

     .menu-subpages-item-content-bottom {
       padding: $grid-phone-gutter;
       position: absolute;
       bottom: 0;
       left: 0;
     }
    }
  }
}


.frame-type-div {
  clear: both;
}
