section#hero {
  background-size: cover;
  background: $gradient;

  // phone
  @media (max-width: $grid-tablet-breakpoint - 1) {
    margin-bottom: $grid-phone-margin;
  }
  // tablet
  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    margin-bottom: $section-space / 2;
  }
  // desktop
  @media (min-width: $grid-desktop-breakpoint) {
    margin-bottom: $section-space;
  }
}

.hero-content {
  padding-top: $layout-desktop-header-height * 3;
  padding-bottom: $layout-desktop-header-height * 2;

  @media screen and (max-width: $layout-screen-size-threshold) {
    padding-top: $layout-mobile-header-height;
    padding-bottom: $layout-mobile-header-height / 2;
  }

  @media (max-width: $grid-tablet-breakpoint - 1) {
    padding-top: 15px;
    padding-bottom: $layout-mobile-header-height/2 ;
  }

  width: 100%;
  color: white;


  @media (min-width: $grid-tablet-breakpoint) {

    .frame {
      &:first-of-type header > * {
        margin-top: 0;
      }

      .ce-bodytext, > header {
        max-width: 75%;
      }
   }
  }
}