.container {
  @extend .lg;
}

.mdl-layout__drawer {

  @media (max-width: $grid-tablet-breakpoint - 1) {
    background: fade-out($color-dark, 0.03);
  }

  .mdl-layout__title {
    border-bottom: 1px solid rgba(255,255,255,0.3);

    a {
      color: $layout-drawer-navigation-color;
    }
  }

  .mdl-navigation .mdl-navigation__link:hover {
    color: $text-color-primary;
  }
}


.mdl-layout__header,
.mdl-layout__header + .mdl-layout__content {
  transition-property: filter;
  @include material-animation-default();

  .mdl-layout__drawer.is-visible + & {
    @extend .blurred-content;
  }
}


.mdl-layout__obfuscator.is-visible {
  opacity: 0;
}


footer {
  border-top: 1px solid $text-color-primary;
}


#content .frame:first-child header > * {
    margin-top: 0;
}


/**
 * Content Top
 */
section.content-top {

  // phone
  @media (max-width: $grid-tablet-breakpoint - 1) {
    margin-top: -$grid-phone-margin;
    margin-bottom: 34px;
  }
  // tablet
  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    margin-top: -$section-space / 2;
    margin-bottom: 34px;
  }
  // desktop
  @media (min-width: $grid-desktop-breakpoint) {
    margin-top: -$section-space;
    margin-bottom: 72px;
  }
}

/**
 * Content Bottom
 */
section.content-bottom {
  background: $color-gray-light;

  padding-top: $grid-tablet-margin*2;
  padding-bottom: $grid-tablet-margin;
  margin-bottom: -$section-space/2;

  @media (min-width: 1440px) {
    padding-top: $section-space;
    padding-bottom: $section-space;
  }

  @media (min-width: $grid-desktop-breakpoint) {
    margin-bottom: -$section-space;
  }


  // phone
  @media (max-width: $grid-tablet-breakpoint - 1) {
    margin-top: $grid-phone-margin;
  }
  // tablet
  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    margin-top: $section-space / 2;
  }
  // desktop
  @media (min-width: $grid-desktop-breakpoint) {
    margin-top: $section-space;
  }
}

.frame-float-left {
  @media (min-width: 1024px) {
    float: left;
    margin-right: 72px;
  }
}
