.pswp_html-wrap {
  @media (max-width: $grid-tablet-breakpoint - 1) {
    margin:  $grid-phone-margin;
  }
  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    margin:  4 * $grid-tablet-margin;
  }
  @media (min-width: $grid-desktop-breakpoint) {
    margin:  6 * $grid-desktop-margin;
  }
}