@media (min-width: $grid-desktop-breakpoint) {
  .mdl-typography--display-4,
  h2, .mdl-typography--display-2 {
    margin-top: 72px;
  }
  h3, .mdl-typography--display-1 {
    margin-top: 60px;
  }

  header + .mdl-list {
    padding-top: 0;
  }

  .frame-default header + .ce-textpic .ce-bodytext h1:first-child,
  .frame-default header + .ce-textpic .ce-bodytext h2:first-child {
    margin-top: 72px - 24px;
  }

  .frame-default header + .ce-textpic .ce-bodytext h3:first-child {
    margin-top: 60px - 24px;
  }
}

section#content {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Quattrocento";
  }
}
