@import "material-design-lite/src/color-definitions";


/* ==========  Color & Themes  ========== */
$color-accent: $palette-teal-500; //46,123,127; //;
$color-primary: $color-accent;
$color-primary-dark: "0,44,65";

$color-gray:  unquote("rgb(#{$palette-grey-600})");
$color-gray-light: #f2f2f2;
$color-dark:  #27282d;
$color-background: white;


/* ==========  TYPOGRAPHY  ========== */
$performance_font: 'Heebo', 'Helvetica', 'Arial', sans-serif ;
$preferred_font: $performance_font;
$text-color-primary: $color-dark;
//$text-color-primary: unquote("rgba(#{$color-white}, 0.87)");

$font-size-h2: 40px;
$font-size-h3: 30px;



/* ==========  Layout  ========== */
$layout-drawer-narrow: 300px;

// Drawer
$layout-drawer-bg-color: fade-out($color-dark, 0.4);
$layout-drawer-border-color: transparent;
$layout-drawer-navigation-color: unquote("rgb(#{$palette-grey-400})");
$layout-drawer-navigation-link-active-background: rgba(224,224,224,0.8);


/* ==========  Footer  ========== */
$footer-bg-color: $color-dark;


$gradient: linear-gradient(-40deg, unquote("rgb(#{$color-primary})") 0%, unquote("rgb(#{$color-primary-dark})") 90%) center;
