//  @media (max-width: $grid-tablet-breakpoint - 1) {
//    #{$attribute}:  $grid-phone-gutter;
//  }
//  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
//    #{$attribute}:  $grid-tablet-gutter;
//  }
//  @media (min-width: $grid-desktop-breakpoint) {
//    #{$attribute}:  $grid-desktop-gutter;
//  }

.layout-about {

  .mdl-layout__content {
    //background: linear-gradient(100deg, unquote("rgb(#{$color-primary})") 0%, unquote("rgb(#{$color-primary-dark})") 70%) center;
    //color: $text-color-primary;
  }

  section#hero {
    //background: none;
    //border-bottom: 1px solid white;
  }

  footer {
    //background: none;
    //border-top: 1px solid white;
  }

  section.content-top {

     color: #8a8a8a;
     background-color: $color-dark;

     h2 {
       margin-bottom: 8px;
     }

     .subhead {
       margin-bottom: 24px;
     }

     img {
       margin-right: 8px;
       float: left;
       opacity: 0.4;
     }
   }

  .grid {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    //grid-template-rows: 150px 100px 100px 50px;
    //@media (min-width: $grid-tablet-breakpoint) {
    //  grid-template-rows: 150px 100px 50px;
    //}

    justify-content: stretch;

    @media (max-width: $grid-tablet-breakpoint - 1) {
      margin-right: -$grid-phone-margin;
      margin-left: -$grid-phone-margin;
      padding: $grid-phone-margin;
    }

    grid-gap: 10px;
    @media (min-width: $grid-tablet-breakpoint) {
      grid-gap: 10px;
    }

    .grid-item {
      padding: 16px;
      background: unquote("rgb(#{$color-primary})");
      @media (min-width: $grid-tablet-breakpoint) {
        padding: 10px;
      }

      color: white;
      text-align: center;

      [class^="icon-"], img {
        display: block;
        padding-bottom: 10px;
        &:before {
          color: white;
        }
      }

      img {
        margin: auto;
      }

      &--big [class^="icon-"] {
        font-size: 60px;
        @media (min-width: $grid-tablet-breakpoint) {
          font-size: 65px;
        }
      }

      &--medium {

        @media (max-width: $grid-tablet-breakpoint - 1) {
          img {
            height: 30px;
            width: auto;
          }
        }
        [class^="icon-"] {
          font-size: 28px;
          @media (min-width: $grid-tablet-breakpoint) {
            font-size: 40px;
          }
        }
      }

      &--small {
        padding: 10px;

        .icon-php {
          position: relative;
          top: 3px;
        }

        [class^="icon-"], img {
          display: inline-block;
          padding-bottom: 0;
          padding-right: 10px;
          font-size: 30px;
        }
      }

      &--big {
        //grid-row: 1;
      }
      &--medium {
        //grid-row: 2;
      }
      &--small {
        //grid-row: 3;
      }

      &--typo3 {
        grid-column: 3 / 5;
      }
      &--javascript {
        grid-column: 1 / 3 ;
      }

      &--less {
        grid-column: 1/3 ;
      }
      &--sass {
        grid-column: 3/5 ;
      }
      &--vuejs {
        grid-column: 3/5 ;
        //grid-row: 3;
      }
      &--angular {
        grid-column: 1/3;
        //grid-row: 3;
      }

      &--typoscript {
        grid-column: 1/3;
        //grid-row: 5;
      }
      &--php {
        //grid-row: 4;
        grid-column: 1 / 5;
      }
      &--sql {
        grid-column: 3/5;
        //grid-row: 5;
      }

      @media (min-width: $grid-tablet-breakpoint) {
        &--less {
          grid-column: 3 ;
        }
        &--sass {
          grid-column: 4 ;
        }
        &--vuejs {
          grid-column: 2 ;
        }
        &--angular {
          grid-column: 1;
        }

        &--typoscript {
          grid-column: 3;
        }
        &--php {
          grid-column: 1 / 3;
        }
        &--sql {
          grid-column: 4;
        }
      }
    }

  }

  //section.content-bottom {
  //  .container {
  //    @extend .xl;
  //  }
  //}

}
