.layout-film {

  @include layout-header-transparent();



  section#hero{
    margin: 0;
  }


  section#content {

    .frame-type-textmedia {
      .ce-bodytext {
        width: 100%;
        > * {
          @extend .container;
        }
      }
    }

    h2 {
      margin-bottom: 0;
    }
  }


  @media (orientation:landscape) and (min-width: $grid-desktop-breakpoint) and (min-height: 630px){

    background: black;
    color: white;



    section#hero {
      position: absolute;
      z-index: 1;
      background: none;
      width: 100%;
    }

    section#content {
      .frame-type-textmedia {
        position: relative;

        .ce-gallery {
          margin: 0;
          position: relative;
          opacity: .4;
        }
        .video-embed {
          width: 100vw;
          height: 100vh;

          video {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
          }
        }

        .ce-bodytext {
          position: absolute;
          padding-bottom: 75px;
          bottom: 0;
          z-index: 1;
        }

        .btn-scrolldown {
          position: absolute;
          bottom: 25px;
          right:  50px;
        }
      }
    }

    .layout-film--scroll {
      cursor: pointer;
      position: fixed;
      right:  23px;
      bottom: 0;
      z-index: 999999;
      width: 44px;
      height: 44px;
      padding: 8px 6px 3px;

      background: rgba(0,0,0,.4);
      @include material-animation-default();
      transition-property: background;

      &:hover {
        background: rgba(0,0,0,.5);
      }
      
      .material-icons {
        font-size: 45px;
      }

      &.up .layout-film--scroll-down {
        display: none;
      }
      &.down .layout-film--scroll-up{
        display: none;
      }

    }


    footer {
      margin: 0;
      border: none;
    }

  }



}

