<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">


<f:layout name="Default" />

<f:section name="Main">
  <f:if condition="false">
    <f:comment> Row </f:comment>
      <f:for each="{menu}" as="page">
        <div class="menu-subpages-item menu-subpages-item--row">
          <div class="menu-subpages-item--link-wrap" href="{page.link}" title="{page.title}"{f:if(condition: page.target, then: ' target="{page.target}" rel="noopener"')}>

          <v:page.info as="info" pageUid="{page.data.uid}">

            <v:page.resources.fal as="files" table="pages" field="media" uid="{info.uid}">
              <sms:image src="{files.0.id}" treatIdAsReference="1" width="500" srcset="200, 300, 500" />
            </v:page.resources.fal>

            <div class="menu-subpages-item-content">

              <h3>{info.title}</h3>
              <p class="subhead">{info.abstract} | <f:format.date format="Y">{info.lastUpdated}</f:format.date> </p>
              <p class="subhead">{info.author}</p>
              <p>{info.description}</p>

              <div class="menu-subpages-item-content-bottom">
                <f:if condition="!{page.target}">
                  <a href="{page.link}" title="{page.title}" class="mdl-button mdl-js-button mdl-button--accent">
                    <f:translate key="LLL:EXT:jgrp_site/Resources/Private/Language/locallang.xlf:menu-more" />
                  </a>
                </f:if>
                <f:if condition="{info.url}">
                  <a href="http://{info.url}" title="{page.title}" class="mdl-button mdl-js-button mdl-button--accent" target="_blank"><f:translate key="LLL:EXT:jgrp_site/Resources/Private/Language/locallang.xlf:menu-web" /></a>
                </f:if>
                <f:if condition="{info.author_email}">
                  <a href="{info.author_email}" title="Repository" class="mdl-button mdl-js-button mdl-button--accent" target="_blank" rel="noopener">
                    Code
                  </a>
                </f:if>
              </div>
            </div>
          </v:page.info>

          </div>
        </div>
      </f:for>

    </f:if>

      <f:comment> Cols </f:comment>
      <div class="flex-layout--col-3">

        <f:for each="{menu}" as="page">
          <div class="menu-subpages-item">
            <div class="menu-subpages-item--link-wrap" href="{page.link}" title="{page.title}"{f:if(condition: page.target, then: ' target="{page.target}" rel="noopener"')}>

            <v:page.info as="info" pageUid="{page.data.uid}">

              <v:page.resources.fal as="files" table="pages" field="media" uid="{info.uid}">
                <sms:image src="{files.0.id}" treatIdAsReference="1" width="700" srcset="200, 400, 700" />
              </v:page.resources.fal>

              <div class="menu-subpages-item-content">

                <h3>{info.title}</h3>
                <p class="subhead">{info.abstract}</p>
                <p class="subhead"><f:format.date format="Y">{info.lastUpdated}</f:format.date></p>
                <p class="subhead">{info.author}</p>
                <p>{info.description}</p>

              </div>
              <div class="menu-subpages-item-content-bottom">
                <f:if condition="!{page.target}">
                  <a href="{page.link}" title="{page.title}" class="mdl-button mdl-js-button mdl-button--accent">
                    <f:translate key="LLL:EXT:jgrp_site/Resources/Private/Language/locallang.xlf:menu-more" />
                  </a>
                </f:if>
                <f:if condition="{info.url}">
                  <a href="http://{info.url}" title="{page.title}" class="mdl-button mdl-js-button mdl-button--accent" target="_blank"><f:translate key="LLL:EXT:jgrp_site/Resources/Private/Language/locallang.xlf:menu-web" /></a>
                </f:if>
                <f:if condition="{info.author_email}">
                  <a href="{info.author_email}" title="Repository" class="mdl-button mdl-js-button mdl-button--accent" target="_blank" rel="noopener">
                    Code
                  </a>
                </f:if>
              </div>
            </v:page.info>

            </div>
          </div>

        </f:for>

      </div>

</f:section>
</html>
