<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">{v:site.name()}</div>
    <v:page.menu.directory class="mdl-mini-footer__link-list" pages="{footernavigation_rootPage}"></v:page.menu.directory>
  </div>
  <div class="mdl-mini-footer__right-section">
    <a class="mdl-button mdl-js-button" href="https://www.linkedin.com/in/johannes-grupp-b841981b2/" target="_blank" title="LinkedIn Profil">LinkedIn</a>
    <a class="mdl-button mdl-js-button" href="https://www.xing.com/profile/Johannes_Grupp7/cv" target="_blank" title="Xing Profil">Xing</a>
  </div>
</footer>
