<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
  data-namespace-typo3-fluid="true">


<f:if condition="{heroMedia.0}">
  <v:page.header>
    <style>
      section#hero {
        background-image: url({f:render(section: "bg-image", arguments: "{variant: 'phone', image: heroMedia.0, uid: imageUid, width: 479}")});
      }
      @media (min-width: 480px) {
        section#hero {
          background-image: url({f:render(section: "bg-image", arguments: "{variant: 'tablet', image: heroMedia.0, uid: imageUid, width: 839}")});
        }
      }
      @media (min-width: 840px) {
        section#hero {
          background-image: url({f:render(section: "bg-image", arguments: "{variant: 'desktop', image: heroMedia.0, uid: imageUid, width: 1920}")});
        }
      }
    </style>
  </v:page.header>
</f:if>




<f:if condition="{hero}">
  <section id="hero" class="hero">
    <div class="hero-content">
      <div class="container">
        <f:format.raw>{hero}</f:format.raw>
      </div>
    </div>
  </section>
</f:if>


<f:section name="bg-image"><f:spaceless>
  <f:uri.image image="{image}" cropVariant="{variant}" maxWidth="{width}"/>
</f:spaceless></f:section>




</html>



<f:comment><!-- image -->
  <f:if condition="{heroMedia.0.originalFile.properties.type} == 2">
    <f:render partial="Assets/PictureSourceset" arguments="{image: heroMedia.0, alt: 'Hero', class: 'hero-media hero-image'}"/>
  </f:if>

  <f:comment><!-- video --></f:comment>
  <f:if condition="{heroMedia.0.originalFile.properties.type} == 4">
    <f:media file="{heroMedia.0}" additionalConfig="{loop: '1', autoplay: '1', controls: '0', muted: '1'}" class="hero-media hero-video"/>
  </f:if>

</f:comment>