@font-face {
  font-family: 'icomoon';
  src:  url('../Fonts/icomoon/icomoon.eot?fxiv9w');
  src:  url('../Fonts/icomoon/icomoon.eot?fxiv9w#iefix') format('embedded-opentype'),
    url('../Fonts/icomoon/icomoon.ttf?fxiv9w') format('truetype'),
    url('../Fonts/icomoon/icomoon.woff?fxiv9w') format('woff'),
    url('../Fonts/icomoon/icomoon.svg?fxiv9w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bitbucket-square:before {
  content: "\e901";
}
.icon-bitbucket1:before {
  content: "\e902";
}
.icon-bitbucket:before {
  content: "\e900";
  color: #0052cc;
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-xing:before {
  content: "\ead3";
}
.icon-xing2:before {
  content: "\ead4";
}
.icon-git:before {
  content: "\eae7";
}
