@import "material-design-lite/src/color-definitions";
//@import "material-design-lite/src/mixins";
//@import "material-design-lite/src/variables";
@import "includes/_variables";

$color-background: #f5f5f5;
$text-color-primary: black;
// #414549;
$footer-bg-color: unquote("rgb(#{$palette-grey-800})");
$chip-bg-color: rgb(222, 222, 222);
$chip-bg-active-color:  rgb(214, 214, 214);
$chip-color: $text-color-primary;

$gradient: linear-gradient(-40deg, unquote("rgb(62,62,62)") 0%, unquote("rgb(31,31,31)") 90%) center;

@import "../../../../jgrp_base/Resources/Private/Sass/main";
@import "includes/includes";

main header {
  > * {
    text-transform: uppercase;
  }

  h1 {
    font-weight: 500;
  }

  h2 {
    font-weight: 400;
  }
}


figure.image a.lightbox img {
  &:hover {
    -webkit-box-shadow: none !important;   ;
    -moz-box-shadow: none !important;   ;
    box-shadow: none !important;   ;
    -webkit-transfor: none !important;
    transform: none !important;
  }
}



figure.image {
  @include material-animation-fast-out-slow-in(0.3s);
  transition-property: transform, -webkit-transform, box-shadow, -webkit-box-shadow;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  padding: 24px;
  margin-bottom: 16px;

  &:hover {
    @include shadow-6dp();
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }

  @media (max-width: $grid-tablet-breakpoint - 1) {
    @include shadow-6dp();
  }


}

figure.image figcaption {
  margin-top: 16px;
}

.frame-type-textmedia, .ce-textpic, .ce-gallery, .ce-inner {
  overflow: visible;
}

footer {
  border-top: none !important;
}


.ce-div {
  border: none;
  height: 0;
  margin: 0;
  padding: 0;
}


