@import "material-design-lite/src/color-definitions";
@import "includes/_variables";

$color-background: $color-dark;
$text-color-primary: unquote("rgba(#{$color-white}, 0.6)");
// #424242;
// #414549;
//$footer-bg-color: unquote("rgb(#{$palette-grey-800})");
$footer-bg-color: $color-dark;

/* CHIP */
$chip-bg-color: rgba(255,255,255,0.87);
$chip-bg-active-color: rgba(255,255,255,0.8);
//$chip-bg-color: rgb(222, 222, 222);
//$chip-bg-active-color:  rgb(214, 214, 214);
//$chip-color: $text-color-primary;


@import "../../../../jgrp_base/Resources/Private/Sass/main";
@import "includes/includes";


.ce-gallery {

  margin-bottom: 0 !important;

  .media-wrap {
    padding-bottom: $grid-phone-gutter;
  }
 
    figure.image img {
    //max-height: 260px;
    width: auto;
  }
}


