@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 100;
  src: local('Heebo Thin'), local('Heebo-Thin'), url(https://fonts.gstatic.com/s/heebo/v3/NGS0v5_NC0k9P9mVfbNrtQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import "includes/variables";
@import "../../../../jgrp_base/Resources/Private/Sass/includes/mixins";
@import "material-design-lite/src/variables";
@import "material-design-lite/src/mixins";

$color2: unquote("rgb(#{$color-accent})");
$color1: #16738f;

$text-link-color: $color-gray;


//trello background
//$color-background: #0e0e0e;

$color-background: $color-dark;


a, a:visited {
  text-decoration: none;
  transition: $animation-curve-linear-out-slow-in color .3s;
}
body {
  font-family: $performance_font;
}
.start-navigation li {
  list-style-type: none;
}


@include change-link-color($color-gray, unquote("rgb(#{$color-accent})"));
a, a:visited {
  text-decoration: none;
  transition: $animation-curve-linear-out-slow-in color .3s;
}

body {
  font-family: $preferred_font;
  background: $color-background;
  color: $color-gray;
}


@keyframes colorchange {
  0% {
    color: transparent;
  }
  25% {
    color: $color1;
  }
  60% {
    color: $color2;
  }
  100% {
    color: $color-gray;
  }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0% {
    color: transparent;
  }
  25% {
    color: $color1;
  }
  60% {
    color: $color2;
  }
  100% {
    color: $color-gray;
  }
}

@keyframes fadein {
  0% {
    color: transparent;
    border-color: transparent;
  }
  65% {
    color: transparent;
    border-color: transparent;
  }
  100% {
    color: $color-gray;
    border-color: $color-gray;
  }
}

@-webkit-keyframes fadein /* Safari and Chrome - necessary duplicate */
{
  0% {
    color: transparent;
    border-color: transparent;
  }
  65% {
    color: transparent;
    border-color: transparent;
  }
  100% {
    color: $color-gray;
    border-color: $color-gray;
  }
}


@-webkit-keyframes fadeinMobile /* Safari and Chrome - necessary duplicate */
{
  0% {
    color: transparent;
    border-color: transparent;
  }
  65% {
    color: transparent;
    border-color: transparent;
  }
  100% {
    color: #c1c1c1;
    border-color: #c1c1c1;
  }
}

.start-pagetitle {
  animation: colorchange 3s;
  -webkit-animation: colorchange 3s; /* Chrome and Safari */
  /*animation-iteration-count:infinite;*/
}


@media (min-width: $grid-tablet-breakpoint) {

  .start-navigation, .start-navigation a {
    animation: fadein 3s;
    -webkit-animation: fadein 3s; /* Chrome and Safari */
  }

  header {
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 20%;
  }
  header > * {
    display: inline-block;
  }

  .start-pagetitle {
    font-weight: 100;
    font-size: 56px;
    margin: 0;
    float: right;
  }

  .start-navigation {
    margin: 0;
    padding: 0;
    font-weight: 200;
    /*display: none;*/
    border-right: 1px solid;
    border-color: $color-gray;
    padding-right: 30px;
    margin-right: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .start-navigation li {
    list-style-type: none;
    text-align: right;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: $grid-tablet-breakpoint - 1) {

  .start-navigation, .start-navigation a {
    animation: fadeinMobile 3s;
    -webkit-animation: fadeinMobile 3s; /* Chrome and Safari */
  }

  .start-pagetitle{
    @include typo-title();
    font-weight: 400;
    padding-left: 20px;
    margin-top: 40px;
    font-size: 33px;
  }

  .start-navigation {
    @include typo-body-1(true);
    li {
      display: block;

      a {
        color: #c1c1c1;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

}
